<h1>{{ movie.title }}</h1>
<div >
  <div class="inline" style="display: flex; justify-content: center;">
    <img [src]="'assets/poster/' + movie.poster + '.jpg'" alt="Poster" style="width:400px">
    <div style="margin-left: 10px">
      <p style="font-size: 2em">
        {{ movie.description }}
      </p>
      <p style="font-weight: bolder">
        {{ movie.mainActors }}
      </p>
      <div class="inline">
        <span>{{ movie.rating }}/5</span><br/>
        <span>{{ movie.genre }}</span><br/>
        <button style="margin-top: 10px; background-color: azure; border-radius: 1.5em" routerLink="/search">&lt; Return</button>
      </div>
    </div>
  </div>


</div>
